* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: radial-gradient(#113, #000);
}

.atom {
	position: relative;
	display: flex;
	width: 300px;
	height: 300px;
	align-items: center;
	justify-content: center;
}

.atom::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: transparent;
	box-shadow: inset 0 0 10px #fff;
	border-radius: 50%;
}

.line {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.7;
}

.line-1 {
  --color: #40ff9c;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-bottom: 10px solid var(--color);
	border-top: 10px solid var(--color);
	animation: line1 2s linear infinite;
  filter:drop-shadow( 0 0 10px var(--color));
}

@keyframes line1 {
	0% {
		transform: rotateY(70deg) rotateZ(0deg);
	}
	100% {
		transform: rotateY(70deg) rotateZ(360deg);
	}
}

.line-2 {
  --color: #0ff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-right: 10px solid var(--color);
	border-left: 10px solid var(--color);
	animation: line2 3s linear infinite;
  filter:drop-shadow( 0 0 10px var(--color));
}

@keyframes line2 {
	0% {
		transform: rotateX(80deg) rotateY(25deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(80deg) rotateY(25deg) rotateZ(360deg);
	}
}

.line-3 {
  --color: #c096ff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-right: 10px solid var(--color);
	border-left: 10px solid var(--color);
	animation: line3 3s linear infinite;
  filter:drop-shadow( 0 0 10px var(--color));
}

@keyframes line3 {
	0% {
		transform: rotateX(-80deg) rotateY(25deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(-80deg) rotateY(25deg) rotateZ(360deg);
	}
}
