*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 300px;
    padding: 10px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    color: whitesmoke;
}
.content h3{
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#eee, #ff3753);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
.content p{
    font-size: 2rem;
    color: #eee;
    margin-bottom: 1rem;
    margin-left: 60rem;
}
.content h1{
    font-size: 64px;
    font-weight: 600; 
}
.content h1 span{
    color: #ff3753;
}

.content button{
    background: transparent;
    border: 2px solid #ff3753;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1rem;

}
.content button:hover{
      color: #ff3753;
}
a{
    text-decoration: none;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;

}
@keyframes rocket{
 0%{
     bottom: 0;
     opacity: 0;
 }
 100%{
     bottom: 105%;
     opacity: 1;
 }
}
