body {
    font-family: sans-serif;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 164px;
    max-width: 164px;
    height: 20vw;
    width: 20vw;
    background-color: #DEE2D6;
    float: left;
    font-size: 16vw;
    border: 1px solid white;
}

.box:hover {
    cursor: pointer;
}

@media (min-width: 870px) {
    .box {
        font-size: 172px;
    }
}