.tile {
  background-color: darkgray;
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
}

#paal {
  padding-top: 2%;
  text-align: center;
}

#paal img {
  width: 150px;
  height: 150px;
}

#x {
  display: inline-block;
}
